@import '~bootstrap/scss/bootstrap';

header{
    height: 120px;
    margin-bottom: 20px;
    background-color: gray;
    a{
        text-decoration: none;
        color: black;
        transition: all 1s linear;
        border-radius: 15px;
        &:hover{
            background-color: azure;
        }
    }
}
.card{

    a{
        text-decoration: none;
        color: black;
        transition: all 0.5s linear;
        &:hover{
            color:darkgrey;
        }
    }
}
ul{
    list-style-type: none;
}

main{
    height: calc(100vh - 240px);
    overflow-y: auto;
}


footer{
    height: 120px;
    background-color: lightblue;
}
